
  .testimonial-container {
    background-image: url('https://www.ashmolean.org/sites/default/files/ashmolean/images/media/war-painting-1284.jpg');
    
    background-position: center;
    background-size: cover;
    opacity: 1;
  }
